<footer class="footer">
  <div class="footer">

    <div class="row">
      <ul>
        <li><a href="/home#about">О нас</a></li>
        <li><a href="/lots">Продукция</a></li>
        <li><a href="/services">Наши услуги</a></li>
        <li><a href="/home#team">Наша команда</a></li>
      </ul>
    </div>

    <div class="row">
      <p class="text-center">Сайт создал <a href="https://t.me/monkeysolo13">Кондюрин Константин</a> для курсового проекта</p>
    </div>
  </div>
</footer>