<!doctype html>
<html lang="ru" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/forAbout.css">
  <link rel="stylesheet" href="/styles/forOurTeam.css">
  <link rel="stylesheet" href="/styles/forFooter.css">
  <link rel="stylesheet" href="/styles/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/forLots.css">
  <link rel="stylesheet" href="/styles/forServices.css">

  <!--GOOGLE FONTS-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>{{title}}</title>
</head>
<body>
  {{> header}}

  <div class="content">
    {{{body}}}
  </div>

  {{> footer}}

  <script src="/js/bootstrap.js"></script>
</body>
</html>