<div class="container">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark me-3">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Меню</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <div class="">
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/users" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Пользователи</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/ware" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Склад</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/orders" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Заказы</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/service" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Услуги</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/mans" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Производители</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/category" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Категории</span>
                </a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="mt-5 mx-3">
        <form method="post" class="from-container" action="/lots/add/admin" enctype="multipart/form-data">
          <div class="form-group mt-3">
            <label for="wareImage">Добавить фото: </label>
            <input type="file" id="wareImage" name="image" class="form-control">
          </div>
          <div class="form-group mt-3">
            <label for="wareItem">Название: </label>
            <input type="text" name="item" class="form-control" id="wareItem" placeholder="Введите название" required>
          </div>
          <div class="form-group mt-3">
            <label for="wareDescription">Описание:</label>
            <input type="text" name="description" class="form-control" id="wareDescription" placeholder="Введите описание" required>
          </div>
          <div class="form-group mt-3">
            <label for="wareQuantity">Количество: </label>
            <input type="number" name="quantity" class="form-control" id="wareQuantity" placeholder="Введите количество" required>
          </div>
          <div class="form-group mt-3">
            <label for="warePrice">Цена: </label>
            <input type="number" name="price" class="form-control" id="warePrice" placeholder="Введите цену">
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Категория: </label>
            <select class="form-select" name="category">
              {{#each category}}
                {{#with this as | item |}}
                  <option value="{{item.name}}">{{item.name}}</option>
                {{/with}}
              {{/each}}
            </select>
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Производитель: </label>
            <select class="form-select" name="man">
              {{#each man}}
                {{#with this as | item |}}
                  <option value="{{item.name}}">{{item.name}}</option>
                {{/with}}
              {{/each}}
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3 mb-3 me-3">Создать</button>
          <a href="/admin/ware"><button type="button" class="btn btn-primary mt-3 mb-3 me-3">Отмена</button></a>
        </form>

      </div>
    </div>
  </div>
</div>