<div class="container">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark me-3">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Меню</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <div class="">
              <li class="nav-item border border-light border-2 rounded-pill mb-3" style="background-color: white">
                <a href="/admin/users" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Пользователи</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/ware" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Склад</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/orders" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Заказы</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/service" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Услуги</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/mans" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Производители</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/category" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Категории</span>
                </a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="mt-5 mx-3">
        <h4>Добавление пользователя</h4>
        <form method="post" class="from-container" action="/user/create/admin">
          <div class="form-group mt-3">
            <label for="createUserEmail">Эл.почта:</label>
            <input type="email" name="email" class="form-control" id="createUserEmail" placeholder="Введите эл.почту" required>
          </div>
          <div class="form-group mt-3">
            <label for="createUserFIO">ФИО:</label>
            <input type="text" name="full_name" class="form-control" id="createUserFIO" placeholder="ФИО" required>
          </div>
          <div class="form-group mt-3">
            <label for="createUserPhone">Телефон:</label>
            <input type="tel" maxlength="11" name="phone_number" class="form-control" id="createUserPhone" placeholder="Телефон" required>
          </div>
          <div class="form-group mt-3">
            <label for="createUserPassword">Пароль:</label>
            <input type="text" name="password" class="form-control" id="createUserPassword" placeholder="Пароль" required>
          </div>
          <div class="form-group mt-3">
            <p class="mt-3 mb-0">Выберите роль</p>
            <select class="form-select" name="role">
              <option value="USER" selected>USER</option>
              {{#each roles}}
                {{#with this as | item |}}
                  <option value="{{item.value}}">{{item.value}}</option>
                {{/with}}
              {{/each}}
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3 mb-3 me-3">Создать</button>
          <a href="/admin/users"><button type="button" class="btn btn-primary mt-3 mb-3 me-3">Отмена</button></a>
        </form>
      </div>
    </div>
  </div>
</div>