<div class="container">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark me-3">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Меню</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <div class="">
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/users" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Пользователи</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/ware" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Склад</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3" style="background-color: white">
                <a href="/admin/orders" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Заказы</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/service" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Услуги</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/mans" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Производители</span>
                </a>
              </li>
              <li class="nav-item border border-light border-2 rounded-pill mb-3">
                <a href="/admin/category" class="nav-link align-middle px-5">
                  <span class=" d-none d-sm-inline">Категории</span>
                </a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="mt-5 mx-3">
        <h4>Добавление заказа</h4>
        <form method="post" class="from-container" action="/order/add/admin" autocomplete="off">
          <div class="form-group mt-3">
            <label for="descriptionOrder">Описание: </label>
            <input type="text" name="description" class="form-control" id="descriptionOrder" placeholder="Введите описание">
          </div>
          <div class="form-group mt-3">
            <label for="statusOrder">Статус: </label>
            <select class="form-select" name="status">
              <option value="В обработке" selected>В обработке</option>
              <option value="Обработан">Обработан</option>
              <option value="Исполняется">Исполняется</option>
              <option value="Выполнен">Выполнен</option>
              <option value="Доставка">Доставка</option>
            </select>
          </div>
          <div class="form-group mt-3">
            <label for="descriptionOrder">Почта пользователя: </label>
            <input type="text" name="user" class="form-control" id="descriptionOrder" placeholder="Ввведите почту пользователя" required>
          </div>
          <div class="form-group mt-3">
            <div class="addWare">
              <div id="item">
                <label for="exampleInputEmail1">Продукт: </label>
                <select class="form-select" id="selectAddWare" name="ware[]">
                  <option value=""></option>
                  {{#each ware}}
                    {{#with this as | item |}}
                      <option value="{{item.item}}">{{item.item}}</option>
                    {{/with}}
                  {{/each}}
                </select>
              </div>
            </div>
            <button type="button" class="btn btn-primary mt-3" id="add_more_product">Добавить продукт</button>
          </div>
          <div class="form-group mt-3 addService">
            <label for="exampleInputEmail1">Услуга: </label>
            <select class="form-select" id="selectAddService" name="service">
              <option value=""></option>
              {{#each service}}
                {{#with this as | item |}}
                  <option value="{{item.name}}">{{item.name}}</option>
                {{/with}}
              {{/each}}
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3 mb-3 me-3">Создать</button>
          <a href="/admin/orders"><button type="button" class="btn btn-primary mt-3 mb-3 me-3">Отмена</button></a>
        </form>

      </div>
    </div>
  </div>
</div>