<div class="container">
  <a href="/profile/{{id}}"  style="text-decoration: none"><p class="mt-3">Назад</p></a>
  <h3 class="mt-3">Изменение пароля</h3>
  <form method="post" action="/user/edit/password/{{id}}/complete">
      <div class="form-group mt-3">
        <label for="exampleInputPassword1">Пароль:</label>
        <input type="password" name="password" class="form-control" id="editProfilePassword" placeholder="Новый пароль">
      </div>
      <div class="form-group mt-3">
        <label for="exampleInputPassword1">Поавторите пароль:</label>
        <input type="password" name="passwordRepeat" class="form-control" id="editProfileRepeatPassword" placeholder="Повторите пароль">
      </div>
    <button type="submit" class="btn btn-primary mt-3 mb-3">Редактировать</button>
  </form>
</div>