{{#each lot}}
  {{#with this as | item |}}
    <div class="d-flex justify-content-center flex-wrap">
      <div class="card m-3" style="width: 18rem;">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.item}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a href="#" class="card-link">Заказать</a>
        </div>
      </div>
    </div>
  {{/with}}
{{/each}}