
<div class="container mt-5">
  <div class="list">
    <h2>Список услуг</h2>
    <ul>
    {{#each service}}
      {{#with this as | item |}}
        <a class="a-for-services" href="/services/{{item.id}}"><li><span>{{item.name}}</span></li></a>
      {{/with}}
    {{/each}}
    </ul>
  </div>
</div>


