.mb-10 {
    margin-bottom: 100px;
}

.navbar {
    background-image: none;
}

.nav-background {
    background:#16191D;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
    padding-bottom: 10px;
}

.m-6 {
    margin: 20px 40px;
}

.from-container {
    width: 80%;
}

@media screen and (max-width: 1403px) {
    .wrapper {
        height: 500px!important;
    }
}

@media screen and (max-width: 744px) {
    .wrapper {
        height: 400px!important;
    }
}

